DEBUG=True
SECRET_KEY=change-me-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=orbitbackend
POSTGRES_USER=orbitbackend
POSTGRES_PASSWORD=orbitbackend
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

CORS_ALLOWED_ORIGINS=http://localhost:3000

REDIS_PORT=6379
CELERY_BROKER_URL=redis://localhost:6379/0
