WHATSAPP_USE_MOCK=true
SENTINEL_API_BASE_URL=http://localhost:8000/api/v1

GROQ_API_KEY=your_groq_api_key_here
IGNORED_SENDERS=+229 01 49 48 62 56,+223 74 42 77 59,+251 97 055 5577,meti_bot,uniconnect,jymns,nexus bot
# Optional: LLM_MODELS=openai/gpt-oss-120b,openai/gpt-oss-20b,gemini-3.8-flash